{% extends 'base.html.twig' %}
{% block body %}

    <h2 class="page-header" xmlns="http://www.w3.org/1999/html">Add Todo</h2>

    <div id="main">

        <form ng-submit="addTodo(todo)">
            <div class="row">
                <div class="col-lg-2">
                    Enter Todo
                </div>
                <div class="col-lg-8">
                <input class="form-control input-lg" id="inputlg" name="todowork" type="text" ng-model="todo.todoText" required>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-2">
                 Please Select Priority
                </div>
                <div class="col-lg-4">
                    <select class="form-control" ng-model="todo.priority" ng-options="x.id as x.status for x in todo.priorities"></select>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-2">
                    </div>
            <div class="col-lg-2">
            <button class="btn btn-default btn-lg" name="submit" id="submit"> Add ToDo </button>
            </div>
            </div>

        </form>

    </div>


{% endblock %}