{% extends 'base.html.twig' %}
{% block body %}

    <h2 class="page-header">Add Todo</h2>

    <div id="main">
        <form ng-submit="addTodo(todo)">
            <input class="form-control input-lg" id="inputlg" type="text" ng-model="todo.todoText">
            <br/>
            <button class="btn btn-default" > Add ToDo </button>

        </form>

    </form>
    </div>


{% endblock %}