{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Telephone Number</th>
            <th>Address</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Kavishan</td>
            <td>miyurukavishan@gmail.com</td>
            <td>0716179152</td>
            <td>Delkada</td>
        </tr>
        <tr>
            <td>Lakshan</td>
            <td>mary@example.com</td>
            <td>0716179152</td>
            <td>Delkada</td>

        </tr>
        <tr>
            <td>Rukshan</td>
            <td>july@example.com</td>
            <td>0716179152</td>
            <td>Delkada</td>
        </tr>
        </tbody>
    </table>
{% endblock %}